[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contracts/lib/ethier"]
	path = packages/contracts/lib/ethier
	url = https://github.com/divergencetech/ethier
[submodule "packages/contracts/lib/solady"]
	path = packages/contracts/lib/solady
	url = https://github.com/Vectorized/solady
